{% extends '@Shop/base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h2>Category List</h2>
        <a href="{{ path('create_category') }}" class="btn btn-info" role="button">Add Category</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% if categories is not null %}
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
